{% load static %}
<div id="redes-sociales">
    <h2>Datos de contacto</h2>
    <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100011681081216&mibextid=vk8aRt" target="_blank">
            <img src="{% static 'icons/facebook.png' %}" alt="Facebook" class="icon">
        </a>
        <a href="https://www.linkedin.com/in/ramon-garcia2606/" target="_blank">
            <img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn" class="icon">
        </a>
        <a href="https://github.com/LuisRamonGV?tab=repositories" target="_blank">
            <img src="{% static 'icons/github.png' %}" alt="GitHub" class="icon">
        </a>
        <div class="whatsapp-container">
            <img src="{% static 'icons/whatsapp.png' %}" alt="WhatsApp" class="icon">
            <p>+524684682142</p>
        </div>
        <div class="email-container">
            <img src="{% static 'icons/email.png' %}" alt="Email" class="icon">
            <p>luis.ramon.garcia.v@gmail.com</p>
        </div>
    </div>
</div>
