{% load static %}
<div id="redes-sociales">
    <h2 style="text-align: center;">Contacto</h2>
    <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100011681081216&mibextid=vk8aRt" target="_blank">
            <i class="fab fa-facebook-square fa-3x"></i>
            <p>Facebook</p>
        </a>
        <a href="https://www.linkedin.com/in/ramon-garcia2606/" target="_blank">
            <i class="fab fa-linkedin fa-3x"></i>
            <p>Linkedin</p>
        </a>
        <a href="https://github.com/LuisRamonGV" target="_blank">
            <i class="fab fa-github-square fa-3x"></i>
            <p>Github</p>
        </a>
        <div class="whatsapp-container">
            <i class="fab fa-whatsapp fa-3x"></i>
            <p>+52 468 689 2142</p>
        </div>
        <div class="email-container">
            <i class="fas fa-envelope fa-3x"></i>
            <p>luis.ramon.garcia.v@gmail.com</p>
        </div>
    </div>
</div>

