<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <title>Portafolio</title>
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <ul>
            <li><a href="#sobre-mi">Sobre mí</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#redes-sociales">Contacto</a></li>
        </ul>
    </nav>

    <!-- Contenido de la página -->
    <div class="intro-box" id="sobre-mi">
        <img src="{% static 'profile.jpg' %}" alt="Foto de perfil" class="profile-photo">
        <h1>Luis Ramon Garcia Vazquez</h1>
        <h2>Ingeniero en sistemas computacionales</h2>
        <p>Desarrollador Fullstack, conocimiento en desarrollo de software, desarrollo web e inteligencia artificial enfocada en analisis de datos y vision por computadora.</p>

        <!-- Contenedor de columnas -->
        <div class="columns">
            <div class="column">
                <h3>Frontend</h3>
                <ul>
                    <li><strong>Lenguajes</strong></li>
                    <li>-JavaScript</li>
                    <li>-HTML y CSS</li>
                    <li><strong>Frameworks y herramientas</strong></li>
                    <li>-Vue.js</li>
                    <li>-React</li>
                    <li>-Nuxt</li>
                    <li>-Tailwind</li>
                    <li>-Bootstrap</li>
                </ul>
            </div>
            <div class="column">
                <h3>Backend</h3>
                <ul>
                    <li><strong>Lenguajes</strong></li>
                    <li>-JavaScript</li>
                    <li>-Java</li>
                    <li>-Python</li>
                    <li>-PHP</li>
                    <li><strong>Frameworks y herramientas</strong></li>
                    <li>-NestJS</li>
                    <li>-Express</li>
                    <li>-SpringBoot</li>
                    <li>-Django</li>
                    <li>-Laravel</li>
                    <li>-Node.js</li>
                </ul>
            </div>
            <div class="column">
                <h3>Inteligencia artificial</h3>
                <ul>
                    <li><strong>Lenguajes</strong></li>
                    <li>-Python</li>
                    <li>-C++</li>
                    <li>-SQL</li>
                    <li><strong>Frameworks y herramientas</strong></li>
                    <li>-OpenCV</li>
                    <li>-Pandas</li>
                    <li>-NumPy</li>
                    <li>-Pyplot</li>
                    <li>-Power BI</li>
                    <li>-Excel</li>
                </ul>
            </div>
            <div class="column">
                <h3>Bases de datos</h3>
                <ul>
                    <li><strong>Relacionales</strong></li>
                    <li>-MySQL</li>
                    <li>-PostreSQL</li>
                    <li><strong>No Relacionales</strong></li>
                    <li>-MongoDB</li>
                </ul>
            </div>
            <div class="column">
                <h3>Herramientas de desarrollo</h3>
                <ul>
                    <li>-Git</li>
                    <li>-Github</li>
                    <li>-VScode</li>
                    <li>-Anaconda</li>
                    <li>-Docker</li>
                    <li>-Linux</li>
                    <li>-Jira</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Incluir la sección de proyectos -->
    {% include 'main/projects.html' %}

    <!-- Incluir la sección de redes sociales -->
    {% include 'main/contact.html' %}
</body>
</html>
