<div id="proyectos">
    <h2>Proyectos</h2>
    <div class="project-container left">
        <h3>Proyecto 1</h3>
        <p>Descripción del proyecto 1...</p>
    </div>
    <div class="project-container right">
        <h3>Proyecto 2</h3>
        <p>Descripción del proyecto 2...</p>
    </div>
    <div class="project-container left">
        <h3>Proyecto 3</h3>
        <p>Descripción del proyecto 3...</p>
    </div>
    <div class="project-container right">
        <h3>Proyecto 4</h3>
        <p>Descripción del proyecto 4...</p>
    </div>
</div>
