<div id="proyectos">
    <h2 style="text-align: center;">Proyectos</h2>
    <div class="project-container left">
        <h3>Proyecto Fullstack</h3>
        <p>En este proyecto se realiza una aplicación web, consta del dearrollo y consumo de una API de estructura REST 
            donde se realiza un formulario de registro de usuario y posteriormente un CRUD así como una interfaz 
            de usuario. Backend: NestJs, PrismaORM, PostgreSQL. Frontend: Vue, Nuxt3, Taildwind y Pinia
        </p>
    </div>
    <div class="project-container right">
        <h3>Aplicacion movil</h3>
        <p>
            Aplicacion movil desarrollada en Android Studio, com principal lenguaje Java y con uso de JavaScript.
            Desarrollada para el manejo de la logistica dentro de un almacen, ventas, comnpras, ingresos, inventario, etc.
            Cuenta con manejo de autenticacion y autorizacion.
        </p>
    </div>
    <div class="project-container left">
        <h3>Analisis de datos oraganizados</h3>
        <p>Este es un proyecto de análisis de datos, trabaja con datos ordenados de una encuesta de 2022 de usuarios de 
            StackOverFlow y realiza una variedad de operaciones de análisis y comparación de datos usando Python y 
            bibliotecas como NumPy, Pandas, PyPlot y Math.
        </p>
    </div>
    <div class="project-container right">
        <h3>Algoritmo genetico para detectar circulos</h3>
        <p>Este programa implementa un algoritmo genético para procesar imágenes y encontrar círculos en una imagen en 
            escala de grises. Define una estructura INDIVIDUO que representa a cada individuo en la población, con cromosomas, 
            valores decodificados, fitness y atributos del círculo (centro y radio). El programa también incluye funciones 
            para evaluar la aptitud de los individuos y evolucionar la población a través de generaciones. El objetivo es ajustar 
            los parámetros del círculo para que se superpongan con los píxeles negros en la imagen. 
        </p>
    </div>
</div>
