<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="#sobre-mi">Sobre mí</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#redes-sociales">Redes sociales</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="intro-box">
            <h1>Luis Ramon Garcia Vazquez</h1>
            <h2>Ingeniero en sistemas computacionales</h2>
            <p>Desarrollador Fullstack, conocimiento en desarrollo de software, desarrollo web e inteligencia artificial enfocada en analisis de datos y vision por computadora.</p>
        
            <div class="columns">
                <div class="column">
                    <h3>Frontend</h3>
                    <ul>
                        <li><strong>Lenguajes</strong></li>
                        <li>-JavaScript</li>
                        <li>-HTML y CSS</li>
                        <li><strong>Frameworks y herramientas</strong></li>
                        <li>-Vue.js</li>
                        <li>-React</li>
                        <li>-Nuxt</li>
                        <li>-Tailwind</li>
                        <li>-Bootstrap</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Backend</h3>
                    <ul>
                        <li><strong>Lenguajes</strong></li>
                        <li>-JavaScript</li>
                        <li>-Java</li>
                        <li>-Python</li>
                        <li>-PHP</li>
                        <li><strong>Frameworks y herramientas</strong></li>
                        <li>-NestJS</li>
                        <li>-Express</li>
                        <li>-SpringBoot</li>
                        <li>-Django</li>
                        <li>-Laravel</li>
                        <li>-Node.js</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Inteligencia artificial</h3>
                    <ul>
                        <li><strong>Lenguajes</strong></li>
                        <li>-Python</li>
                        <li>-C++</li>
                        <li>-SQL</li>
                        <li><strong>Frameworks y herramientas</strong></li>
                        <li>-OpenCV</li>
                        <li>-Pandas</li>
                        <li>-NumPy</li>
                        <li>-Pyplot</li>
                        <li>-Power BI</li>
                        <li>-Excel</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Bases de datos</h3>
                    <ul>
                        <li><strong>Relacionales</strong></li>
                        <li>-MySQL</li>
                        <li>-PostreSQL</li>
                        <li><strong>No Relacionales</strong></li>
                        <li>-MongoDB</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Herramientas de desarrollo</h3>
                    <ul>
                        <li>-Git</li>
                        <li>-Github</li>
                        <li>-VScode</li>
                        <li>-Anaconda</li>
                        <li>-Docker</li>
                        <li>-Linux</li>
                        <li>-Jira</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <!-- Sección de Proyectos -->
     <section id="proyectos">
        <h2>Proyectos</h2>
        <!-- Aquí puedes agregar información sobre tus proyectos -->
    </section>

    <!-- Sección de Redes Sociales -->
    <section id="redes-sociales">
        <h2>Redes sociales</h2>
        <!-- Aquí puedes agregar enlaces a tus redes sociales -->
    </section>
    
</body>
</html>


